# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Database files
*.db
data/

nltk_data/

# Frontend (Next.js & Node)
node_modules/
.next/
out/
build/
.env*.local