@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #fff9ee;
    color: #373223;
  }

  ::selection {
    background-color: #ebe2cb;
    color: #373223;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #faf3e5;
  }
  ::-webkit-scrollbar-thumb {
    background: #b9b29c;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #817a67;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}